* {
  box-sizing: border-box;
}

body {
  color: #777;
  line-height: 34px;
  background: url("../images/cork.png");
}

.container {
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.name {
  font-family: 'Raleway', sans-serif;
  margin-right: -100px;
  width: 200px;
}

.name a {
  padding-left: -10px;
}

.list {
  padding: 0px 70px 0px 0px;
  font-family: 'Raleway', sans-serif;
}

.left {
  padding: 0 20px 20px 20px;
  background-color: white;
}

.about {
  font-family: 'Raleway', sans-serif;
  font-size: 16px bold;
  margin-top: -30px;
  padding-top: 10px;
}

.right {
  width: 205px;
  margin-right: 50px;
}

h3 {
  font-size: 16px bold;
}

.bio {
  font-family: 'Raleway', sans-serif;
  padding: 0px 0px 0px 10px;
  font-size: 17px;
}

.myimg {
  float: left;
}

footer {
  position: static;
  border-top: 5px solid green;
  height: 100px;
  width: 100%;
  background-color: #666666;
  margin-top: 3%;
}

.copyright {
  color: white;
  text-align: center;
  margin-top: 5%;
}









































































































@media screen and (max-width: 980px) {
  .sidebar {
    width: 270px;
    margin-right: 100px;
  }
  .main-section {
    margin-left: 100px;
    width: 335px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .auth-image {
    width: 275px;
  } 
  #logo {
    margin-left: 100px;
  }
  nav {
    margin-right: 110px;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 650px;
    margin-right: 43px;
  }
  .main-section {
    width: 650px;
    margin-left: 43px;
    margin-bottom: 20px;
  }
  #logo {
    margin-left: 50px;
  }
  nav {
    margin-right: 50px;
  }
}

@media screen and (max-width: 640px) {
  .sidebar {
    width: 580px;
    margin-right: 14px;
  }
  .main-section {
    width: 580px;
    margin-left: 14px;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  #logo {
    margin: 0px;
    width: 100%;
  }
  nav a {
    padding-right: 50px;
    padding-left: 50px;
  }
  .work img {
    width: 100%;
  }
}